{% extends "index.html" %} 
<!--SELECCION DE AUTORES-->
{% block contenido %}
{% if not user.is_authenticated%}

{% endif %}
<h2>{{titulo}} </h2>

<form method = "POST"> enctype = "multipart/form-data"  <!-- INVESTIGAR TODO ESTE CODIGO Y ENTENDER LA LOGICA-->
    {% csrf_token%} <!-- crea unas cookies de sesion apra saber que el que la hace es uno y no un bot o asi, EXPLICAER MAS A DETALLE-->
<!-- para que no tenga  algo que lo llene automatico, INVESTIGAR DE ESTO-->
    <label for = "id_nombre" name= "nombre"> Nombre: </label>
    <input placeholder = "Nombre. Ej Juan" type = "text" id = "id_nombre" name="nombre" value="{{autor.nombre | default_if_none:""}}" required> </label><br> <br>
<!-- que pasa con el placeholder cuando tenemos el value??--> <!-- eXPLICAR LO DEL AUTOR NOMBRE | default_if_none-->
    <label for = "id_apellido" name= "apellido"> Apellido: </label>
    <input placeholder = "Apellido Ej. Perez" type = "text" id = "id_apellido" name="apellido" value="{{autor.apellido | default_if_none:""}}" required> </label> <br> <br> <!--INVESTIGAR TODO ESTO-->
<!-- EL BR HACE UN SALTO DE LINEA PARA QUE CAIGA EN CASCADA TODO-->
    <label for = "id_bibliografia" name= "bibliografia"> Bibliografia: </label>
    <input placeholder = "Resumen del autor" type = "text" id = "id_bibliografia" name="bibliografia" value="{{autor.bibliografia| default_if_none:""}}" required> </label><br> <br>


    <label for='id_imagen'>Imagen: </label>
    <input type="file" id = "id_imagen" name="imagen" accept="image/*"/></br>  <!--el accept le decimos que acepte archivos imagen y el * es uqe acepte cualquier tipo
    si quisieramos solo png pro ejemplo quitamos el * y ponemos ESTO -->
    <button type="submit" class = "btn btn-custom mt-2">{{texto_boton}}</button> <!-- para que el texto cambie-->
</form> 

{% endblock %}