name: Django and Cypress CI

on:
    push:
        branches: ["main", "master"] #donde va a pushear
    pull_request:
        branches: ["main", "master"] #donde pullea

jobs:
    build-and-test:
        runs-on: ubuntu-latest

        #services:
        # Si usaramos PostgreSQL, aquí configurariamos el servicio de base de datos.
        # Por ahora usamos sqlite

        steps: #pasos antes de
            # 1. Bajar el código del repositorio
            - name: Checkout code
              uses: actions/checkout@v4

            # 2. Configurar Python
            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: "3.13"

            # 3. Instalar dependencias de Django
            - name: Install Python Dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt

            # 4. Correr migraciones y Pruebas Unitarias de Django
            - name: Run Django Tests
              run: |
                  python manage.py migrate
                  python manage.py test

            # 5. Configurar Node.js (necesario para Cypress)
            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "18"

            # 6. Instalar Cypress y dependencias de JS
            - name: Install Cypress and dependencies
              run: npm install

            # 7. Ejecutar Cypress
            # Este paso es clave: Levanta el servidor y corre los tests
            - name: Run Cypress Tests
              uses: cypress-io/github-action@v6
              with:
                  # Comando para iniciar tu servidor de Django
                  start: python manage.py runserver
                  # Esperar a que el servidor responda antes de iniciar Cypress
                  wait-on: "http://localhost:8000"
                  # Si tus tests de Cypress están en una carpeta específica
                  # browser: firefox

            - name: Upload Cypress Artifacts
              uses: actions/upload-artifact@v4
              if: failure() # <--- ¡ESTO ES CLAVE! Solo se guarda si una prueba falla
              with:
                  name: evidencia-de-fallos
                  path: |
                      cypress/videos
                      cypress/screenshots
                      cypress/reports
